li{
    list-style-type:none;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.active{
    text-decoration: underline;
   
    filter: drop-shadow(2px 2px 2px rgba(249, 248, 248, 0.5));
}