
.grid{
  padding-top:100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(5,300px);
  grid-auto-rows: 300px;
  gap: 20px;
}


.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border: 1px solid black;
}

.btn-1{
  padding: 10px 30px;
  position: relative;
  box-sizing: border-box;
  border: none;
  background-color: rgb(62, 62, 223);
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;

  overflow: hidden;

  
}

.btn-1:hover{
  background-color: rgb(171, 171, 250);
  box-shadow: 0px 0px 3px #000000;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  

}  

button span:nth-child(1){
  position: absolute;
  top: 0px;
  left:0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right,red,rgb(241, 241, 245));
  opacity: 0;
  
}


button:hover span:nth-child(1) {
  opacity: 1;
  animation: btn-1-top 1s linear forwards;
}

button span:nth-child(2){
  position: absolute;
  bottom: 0px;
  left:0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left,red,rgb(241, 241, 245));
  opacity: 0;

}

button:hover span:nth-child(2) {
  opacity: 1;
  animation: btn-1-bottom 1s linear forwards;
}

button span:nth-child(3){
  position: absolute;
  top: 0px;
  bottom:0px;
  right: 0;
  height: 100%;
  width: 2px;
  background: linear-gradient(to bottom,red,rgb(241, 241, 245));
  opacity: 0
  ;
}

button:hover span:nth-child(3){
  opacity: 1;
  animation:btn-1-right 1s linear forwards
}
button span:nth-child(4){
  position: absolute;
  top: 0px;
  left:0px;
  bottom: opx;
  height: 100%;
  width: 2px;
  background: linear-gradient(to top,red,rgb(241, 241, 245));
  opacity: 0;
}

button:hover span:nth-child(4){
  opacity: 1;
  animation: btn-1-left 1s linear forwards;
}

@keyframes btn-1-top{
  0%
  {
    transform: translateX(100%);
  }

  50%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(-100%);
  }
}

@keyframes btn-1-bottom{
  0%
  {
    transform: translateX(-100%);
  }

  50%
  {
    transform: translateX(0%);
  }
  100%
  {
    transform: translateX(100%);
  }
}
 
@keyframes btn-1-right{
  0%
  {
    transform: translateY(100%);
  }

  50%
  {
    transform: translateY(0%);
  }
  100%
  {
    transform: translateY(-100%);
  }
}

@keyframes btn-1-left{
  0%
  {
    transform: translateY(-100%);
  }

  50%
  {
    transform: translateY(0%);
  }
  100%
  {
    transform: translateY(100%);
  }
}



