<div class="background p-5">
    <div class="trials">
        <div class="container show">
            <h1><code>.container</code> — max-width at each responsive breakpoint.</h1>
        </div>
        
        
    </div>
    <div class="trials">
        <div class="container-fluid show">
            <h1><code>.container-fluid</code> — 100% width at all breakpoints.</h1>
        </div>
        
    </div>
    <div class="trials">
        <div class="container-{1000px} show">
            <h1><code>.container-breakpoint</code> 100% width until the specified breakpoint.</h1>
        </div>
        
    </div>
</div>